#banner { background-color: #c4ae95; padding: 1em; font-family: Garamond; font-size: 16pt; font-weight: bold; }
.underline { text-decoration: underline; }
.background-color-brown { background-color: #e57b2f; padding-top: 3em; padding-bottom: 3em; font-family: Garamond; }
.heading-level-1 { color: white; font-size: 24pt; font-weight: bold; text-align: center; }
.heading-level-2 { color: white; font-size: 18pt; font-weight: bold; text-align: center; }
.main-text-header { color: white; font-size: 16pt; font-weight: normal; text-align: center; margin-top: 2em; }
.image-main { border-top: 5px solid white; }
.entry-content-main-paragraph { color: black; font-family: Garamond; font-size: 16pt; font-weight: normal; margin: 1em; line-height: 19pt; text-align: justify; }
.entry-content-heading-level-1 { color: black; font-family: Garamond; font-size: 20pt; font-weight: bold; }
.entry-content-heading-level-2 { color: black; font-family: Garamond; font-size: 18pt; font-weight: bold; }
.entry-content-main-paragraph-new-finding { color: black; font-family: Garamond; font-size: 16pt; font-weight: normal; margin: 1em; line-height: 19pt; text-align: justify; border-left: 5px solid #914d03; padding-left: 1em; border-right: 5px solid #914d03; padding-left: 1em; }
.heading-1 { font-family: Garamond; font-size: 24pt; font-weight: bold; }
.heading-2 { font-family: Garamond; font-size: 18pt; font-weight: bold; }
.list-of-witnesses { font-family: Garamond; font-size: 14pt; font-weight: normal; }
.list-of-hands { font-family: Garamond; font-size: 14pt; font-weight: normal; }
.editorial-declaration { font-family: Garamond; font-size: 14pt; font-weight: normal; }
.pictures { font-family: Garamond; font-size: 14pt; font-weight: normal; }
body.body-formats { margin: 20pt; }
div.page-of-edition { font-family: Garamond; font-size: 14pt; font-weight: normal; }
div.page-of-edition a:link { color: black; text-decoration: none; }
div.page-of-edition a:active { color: black; text-decoration: none; }
div.page-of-edition a:hover { color: black; text-decoration: none; }
div.page-of-edition a:visited { color: black; text-decoration: none; }
span.bold-text { font-weight: bold; }
span.italic-text { font-style: italic; }
span.bold-italic-text { font-style: italic; font-weight: bold; }
div.page-of-edition { margin: 20pt; }
div.apparatus { margin-left: 70pt; }
p.glyph-section { margin-top: 10pt; margin-bottom: 10pt; margin-left: 50pt; height: 40pt; }
span.emphasize-analysis { margin-left: 20pt; background-color: white; padding: 2pt; }
span.emphasize-hand { margin-left: 20pt; background-color: white; padding: 2pt; }
span.emphasize-location { margin-left: 20pt; background-color: white; padding: 2pt; }
span.emphasize-note { margin-left: 20pt; background-color: white; padding: 2pt; }
span.emphasize-pointer { margin-left: 20pt; background-color: white; padding: 2pt; }
span.referred-word { background-color: white; border-radius: 3pt; padding: 2pt; }
span.pointer-targets { margin-left: 3pt; background-color: white; border-radius: 3pt; padding: 2pt; }
span.pointer-target-source { font-style: italic; }
span.edition-heading-1 { font-family: Garamond; font-size: 24pt; font-weight: bold; }
span.set-margin-left { margin-left: 20pt; }
span.set-margin-left-and-right { margin-left: 10pt; margin-right: 10pt; }
div.apparatus-reading { margin-top: 1em; margin-bottom: 1em; }
div.note { margin-left: 50pt; margin-top: 1em; }
p.pointer {margin-top: 1em; }
span.typewriter { font-family: courier, fixed, monospace; }
p.type-of-intervention { margin-left: 40pt; font-style: italic; }
span.expunction { text-decoration: line-through; }
span.around-link { margin-left: 20pt; border: black 1pt solid; padding: 4pt; border-radius: 3pt; }
.apparatus-hidden { display: none; }
.apparatus-visible { display: block; }
#overlay { border: red 2pt solid; }